@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #fff;
  color: #444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Универсальные классы*/
.title-1 {
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color:#000
}
.title-2 {
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000;
}
.title-3 {
  margin: 0;
  padding: 0;
  font-family: "rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}

.button {
  display: inline-block;
  padding: 10px 5px;
  margin: 0;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: #000;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-yellow {
  background: url("../images/decorative-images/button.svg") no-repeat 0 50%;
}

.button-yellow:hover {
  background-color: #FFE17F;
  background-image: none;
}

.button-yellow:active {
  background-color: #FFCC33;
  background-image: none;
}

.button:focus-visible {
  outline: 2px solid #AF4FFF;;
  outline-offset: 2px;
}

.button:disabled {
  opacity: 0.3;
}

.style-1:hover {
  opacity: 0.6;
}

.style-1:active {
  opacity: 0.3;
}

.style-1:focus-visible {
  outline: 2px solid #AF4FFF;;
  outline-offset: 2px;
}


/*Header*/
.page-header {
  width: 1160px;
  min-height: 300px;
  background-color: #FFE17F;
  color: #000;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
}

.header-container{
  width: 1040px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 517px 497px;
  gap: 30px 26px;
}
.logo {
  grid-column: 1/2;
  position: absolute;
  left: 60px;
  top: -20px;
}


.navigation-search-form {
  grid-row: 2/3;
  margin-top: 21px;
}

.navigation {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 21px;
}

.catalog-toggle {
  display: inline-block;
  position: relative;
  grid-column: 1/2;
  grid-row: 3/4;
  width: 293px;
  padding: 15px 55px 15px 0;
  background-color: #FFE17F;
  border: none;
  cursor: pointer;
}

.circle {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

.circle-minus {
  display: none;
}

.catalog-toggle:hover .circle,
.catalog-toggle:active .circle {
  opacity: 1;
}

.catalog-toggle:focus-visible {
  outline: 2px solid #AF4FFF;;
  outline-offset: 2px;
}


.navigation-search-input {
  width: 352px;
  padding: 8px;
  padding-left: 48px;
  color: #000;
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 50px 0 0 50px;
  font-family: "rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-image: url("../images/decorative-images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left 16px;
}

.navigation-search-input:focus-visible {
  outline: 2px solid #AF4FFF;;
  outline-offset: 2px;
}

.navigation-search-input:disabled {
  opacity: 0.3;
}

.navigation-button-search {
  width: 160px;
  padding: 8px 54px;
  margin-left: -5px;
  color: #000;
  background-color: #FFE17F;
  border: 2px solid #000;
  border-radius: 0 50px 50px 0;
  font-family: "rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.navigation-button-search:hover {
  background-color: #000;
  color: #fff;
}

.navigation-button-search:active {
  background-color: #000;
  color: #fff;
}

.navigation-button-search:active .search-title {
  opacity: 0.3;
}

.navigation-button-search:focus-visible {
  outline: 2px solid #AF4FFF;;
  outline-offset: 2px;
}

.navigation-button-search:disabled {
  opacity: 0.3;
}


.navigation-link {
  display: inline-block;
  padding: 5px 0;
  color:#000;
  background-color: inherit;
  text-decoration: none;
}

.navigation-link-sign-in {
  padding-left: 26px;
  background: url("../images/decorative-images/user-icon.svg") no-repeat 0 50%;
  background-size: 13px 12px;
}

.navigation-link-exit {
  opacity: 0.3;
}

.navigation-link-compare {
  padding-left: 22px;
  background: url("../images/decorative-images/compare-icon.svg") no-repeat 0 50%;
  background-size: 10px 12px;
}

.navigation-link-basket {
  padding-left: 26px;
  background: url("../images/decorative-images/basket.svg") no-repeat 0 50%;
  background-size: 16px 14px;
}

.menu-item a {
  text-decoration: none;
  display: inline-block;
  padding: 14px 0;
}

.navigation-userlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.main-container {
  flex-grow: 1;
  padding-top: 35px;
}

/*Main-index*/
.main-index {
  color: inherit;
  background-color: inherit;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

  /*Promo-index*/

.promo-slider {
  margin-bottom: 70px;
}

.property-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.property-list-container {
  display: flex;
  flex-direction: column-reverse;
}

.property-term {
  font-size: 16px;
}

.property-definition {
  font-size: 36px;
  color: #000;
  margin: 0 auto 12px 0;
}

.property-list-container:not(:last-child) {
  margin-right: 20px;
}

.promo-slider-item {
  display: flex;
  justify-content: space-between;
}

.promo-container {
  width: 560px;
}

.promo-title {
  margin-bottom: 30px;
}

.promo-text {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.promo-more {
  display: block;
  width: 210px;
  margin-bottom: 50px;
}

.promo-slider-button {
  width: 20px;
  height: 60px;
  border: none;
  padding: 20px 0;
  margin: 0;
  cursor: pointer;
  background: url("../images/decorative-images/arrow-prev.svg") no-repeat;
  background-size: 20px 60px;
}

.promo-slider-next {
  transform: rotate(180deg);
}

.promo-slider-pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.promo-slider-pagination-button {
  width: 12px;
  height: 12px;
  border: none;
  background: url("../images/decorative-images/pagination.svg") no-repeat;
  background-size: 12px 12px;
}

.promo-slider-pagination-button-current {
  background: url("../images/decorative-images/pagination-active.svg") no-repeat;
}
/* Header-inner catalog */
.inner-header {
  margin-bottom: 35px;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

/*Breadcrumbs-catalog*/
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  margin-right: 36px;
}

/*Catalog-products*/
.catalog-container{
  background-color: #f0f0f0;
}

.catalog-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.catalog-products {
  display: flex;
}

.catalog-filter {
  width: 320px;
}

.catalog-form-title{
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.sorting-container {
  display: flex;
  padding: 20px 40px;
}

.button-sort {
  width: 30px;
  height: 30px;
}

/*Product-cards-catalog*/
.catalog-right-column {
  width: 840px;
}

.product-list {
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  padding: 70px 40px 40px 40px;
}

.products-cards-container{
  background-color: #fff;
}

.product-card-title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
}

.button-load-more {
  width: 760px;
  display: block;
  margin: 0 auto 40px auto;
  padding: 15px;
  border: 3px solid #E5E5E5;
  background-color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.pagination {
  width: 760px;
  background-color: #f0f0f0;
  display: flex;
  padding: 15px;
  margin: 0 auto;
  list-style-type: none;
  align-items: center;
}

.pagination-item {
  padding: 10px 17px;
}

.pagination-item:first-of-type {
  margin-right: auto;
  padding: 0;
}

.pagination-item:last-of-type {
  margin-left: auto;
  padding: 0;
}

.pagination-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444;
  text-decoration: none;
  opacity: 0.6;
}

.pagination-next {
  margin-left: auto;
  padding: 25px;
}

.pagination-prev {
  padding: 25px;
}

.pagination-disabled {
  color: #444;
  opacity: 0.3;
}


  /*Catalog-categories-index*/
.catalog-categories {
  margin-bottom: 70px;
}

.catalog-categories-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

.catalog-categories-item {
  width: 160px;
}

.catalog-categories-link {
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: center;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  text-transform: none;
}

.catalog-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 160px;
  background-color: #FFE17F;
}

.catalog-categories-link:hover .catalog-image {
  background-color: #FFCC33;
}

.catalog-categories-link:active {
  opacity: 0.3;
}

.catalog-categories-link:focus-visible {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.selfi-mono {
  margin-top: auto;
}


  /*Benefits-index*/
 .benefits {
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.benefits-container {
  display: flex;
}

.benefits-title-list {
  min-width: 287px;
  min-height: 190px;
  margin: 0;
  padding: 64px 0;
  border-right: 7px #000 solid;
  list-style-type: none;
}

.benefits-title-item {
  margin-bottom: 45px;
}

.button-benefits {
  min-width: 160px;
  min-height: 40px;
}

 .button-benefits-current {
  color: #FFE17F;
  background-color: #000;
  min-width: 280px;
  min-height: 40px;
}


.benefits-content-list {
  margin: 72px auto 145px 116px;
  padding: 0;
  list-style-type: none;
  width: 694px;
}

.benefits-content-title {
  margin-bottom: 34px;
}

.benefits-content-text {
  margin: 0;
  padding: 0;
  max-width: 452px;
}

.benefits-content-item{
  position: relative;
}

.benefits-icon {
  position: absolute;
  top: 0;
  right: 0;
}

  /*delivery-index*/
.delivery {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.delivery-button {
  font-size: 20px;
  line-height: 23px;
  width: 1160px;
  min-height: 100px;
}

.about-contacts-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about-title {
  margin-bottom: 48px;
  margin-top: 47px;
}

.about-text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.delivery-company-list {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 30px;
}

.delivery-company-item {
  margin-bottom: 19px;
}

.about-more {
  display: inline-block;
  margin-bottom: 52px;
}

  /*about-index*/
.about {
  width: 520px;
}

.delivery-company-item {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.36px;
}

  /*Contacts-index*/
.contacts {
  width: 532px;
}

.contacts-title {
  margin: 48px 0;
}

.contacts-text {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  color: #444;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
  color: #444;
  margin-bottom: 30px;
}

.contacts-address-phone {
  color: #444;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}


  /*Subscribe-index*/
.subscribe {
  background-color: #f0f0f0;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.subscribe-title {
  margin: 64px 0 144px 0;
  max-width: 348px;
  min-height: 100px;
}

.subscribe-text {
  margin: 74px 0 144px 0;
  max-width: 560px;
  min-height: 90px;
}

.subscribe-form {
  margin-bottom: 56px;
  display: flex;
  align-items: flex-end;
}

.subscribe-input {
  width: 557px;
  height: 55px;
  padding: 11px 0 14px 15px;
  background-color: inherit;
  border: none;
  border-bottom: 3px #C4C4C4 solid;
  font-family: "rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-input:focus-visible {
  background-color: #DCDCDC;
  outline: none;
}

.subscribe-input:disabled {
  opacity: 0.3;
}

.subscribe-button {
  width: 253px;
  font-size: 18px;
  min-height: 57px;
  border: 3px #C4C4C4 solid;
}

.subscribe-button:hover {
  background-color: #000;
  color: #fff;
  border: #000;
}

.subscribe-button:active {
  background-color: #000;
  color: #fff;
  border: #000;
}

.subscribe-button:active .subscribe-button-title {
  opacity: 0.3;
}

.subscribe-subtext {
  margin-bottom: 56px;
  align-self: center;
}



/*Footer*/
.page-footer {
  background-color: #444;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0;
  display: grid;
  grid-template-columns: 239px 444px 238px;
  gap: 30px 119px;
}

.footer-wrapper {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.footer-contacts-logo {
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer-contacts-address {
  width: 239px;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #fff;
  grid-column: 1/2;
  grid-row: 2/3;
}


.footer-menu-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-menu-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.footer-copyright {
  width: 175px;
  display: flex;
  flex-direction: column;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
}

.footer-contacts-address-phone {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  min-height: 20px;
}
